<!-- cards that will have the products description -->
<h3 style="text-align:center" class="mb-3">Gallery of Technologies used</h3>
<div class="card-columns">
  <div *ngFor="let element of techonologiesArr" class="card">
    <img src={{element.imageUrl}} class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title">{{element.title}}</h5>
      <p class="card-text">{{element.text}}</p>
    </div>
    </div>
  </div>
  <hr>
<!-- Brief description of the products -->
<h3 style="text-align:center;" class="mb-3">List of products by technology</h3>
<div class="row">
  <!-- Main navigation bar -->
  <div class="something">
    <nav id="navbar-catalog" class="navbar navbar-light bg-light">
      <a class="navbar-brand" style="width:15%;" href="#">Technologies used</a>
      <nav class="nav nav-pills flex-column">
        <a *ngFor="let element of techonologiesArr" class="nav-link" href="#{{element.title}}">{{element.title}}</a>
      </nav>
    </nav>
  </div>
  <!-- Rightside col -->
  <div data-spy="scroll" data-target="#navbar-catalog" data-offset="20" class="something description" style="width:50%;">
    <div *ngFor="let element of techonologiesArr" >
      <!-- Top navbar of Rightside col -->
      <nav id="{{element.title}}" class="navbar navbar-light bg-light">
        <a class="navbar-brand text-white" style="width: 100%; background-color:#007bff; text-align:center;" href="#{{element.title}}">{{element.title}}</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" >@fat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">@mdo</a>
          </li>
        </ul>
      </nav>
      <!-- Sub-elements of main element of Rightside col -->
      <h4 id="fat">@fat</h4>
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <h4 id="mdo">@mdo</h4>
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
